.container {
    padding-top: 10vh;
    height: 100vh;



    p {
        padding-top: 1em;
        font-size: 1.35em;
        font-weight: 300;
        color: var(--secondary-lighter);
        letter-spacing: 0.6px;
        line-height: 1.35em;

        a {
            border-bottom: transparent solid 2px;
            color: var(--primary-lightest-lighter);
            text-decoration: none;
            transition: all 0.5s ease;
            font-weight: 400;

            &:hover {
                border-bottom: var(--secondary-lightest) solid 2px;
                color: var(--secondary-lightest)
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {

        p {
            font-size: 1.2em;
        }
    }

    @media (max-width: 800px) {
        .container {
            h2 {
                font-size: 4em;
            }

            p {
                font-size: 1em;
            }

        }

        @media (max-width: 575px) {
            .container {
                h2 {
                    font-size: 3em;
                }

                p {
                    font-size: 0.9em;
                }
            }

            @media (max-width: 400px) {
                .container {
                    h2 {
                        font-size: 2em;
                    }

                    p {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }

}