.container {
    padding-top: 10vh;
    height: 100vh;

    h2 {
        font-size: 5em;
        letter-spacing: -0.05em;
        color: var(--secondary);

        span {
            text-decoration: underline;
        }
    }

    p {
        padding-top: 1em;
        font-size: 1.35em;
        font-weight: 300;
        color: var(--secondary);

        a {
            text-decoration: none;
            color: var(--tertiary);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 1200px){
    .container {

        h2 {
            font-size: 5em;
        }

        p {
            font-size: 1.2em;
        }
    }
    @media (max-width: 800px){
        .container {
            h2 {
                font-size: 4em;
            }
    
            p {
                font-size: 1em;
            }

        }
        @media (max-width: 575px) {
            .container {
                h2 {
                    font-size: 3em;
                }
                p {
                    font-size: 0.9em;
                }
            }
            @media (max-width: 400px) {
                .container {
                    h2 {
                        font-size: 2em;
                    }
                    p {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }

}


