.container {
    border-radius: 5px;
    background-color: var(--tertiary);
    height: 20em;
    box-shadow: 0 0 2px 1px var(--secondary);
    padding: 1.5em 1.5em;
    transition: box-shadow 0.5 ease;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 0 3px 2px var(--tertiary);
        cursor: pointer;

        h3 {
            color: var(--secondary);
            opacity: 1;
        }

        .iconsHeader .leftIcon {
            svg {
                opacity: 1;
                stroke-width: 1.3px;
            }
        }

    }


    h3 {
        color: var(--secondary);
        font-size: 1.5em;
        letter-spacing: -1px;
        line-height: 1.2em;
        margin-top: 10px;
        opacity: 0.9;
        text-decoration: underline;
    }


    p {
        color: var(--secondary);
        font-size: 1em;
        font-weight: 300;

        letter-spacing: -0.5px;
        line-height: 1.3em;
    }


    .iconsHeader {
        opacity: 1;
        display: flex;
        justify-content: space-between;
        transition: opacity 1s ease;
        padding-right: 3px;

        .leftIcon {
            svg {
                stroke-width: 1px;
                stroke: var(--primary);
                opacity: 0.8;
                transition: opacity 0.3s ease;
            }

        }


        .rightIcon {
            padding-top: 3px;

            svg {
                stroke: var(--primary);
                stroke-width: 1px;
                opacity: 0.8;
                transition: opacity 0.5s ease;
                transition: stroke-width 0.5s ease;
            }

            &:hover {
                svg {
                    stroke-width: 1.5px;
                    opacity: 1;
                }
            }

        }
    }


    .tags {
        color: var(--primary);
        font-family: var(--mono-font);
        font-size: 1em;
        letter-spacing: -0.05em;
        line-height: 1em;
        margin-top: 20px;
        opacity: 0.7;

    }
}

@media (max-width: 1000px){
    .container {
        height: 17em;
        h3 {
            font-size: 1.1em;
        }
        p {
            font-size: 0.9em;
        }
        .tags {
            font-size: 0.8em;
        }

        .iconsHeader {
            .leftIcon {
                svg {
                    width: 28px;
                }
            }
            .rightIcon {
                svg {
                    width: 23px;
                }
            }
        }
    }

    @media(max-width: 550px){
        .container {
            height: 15em;
            h3 {
                font-size: 1em;
            }
            p {
                font-size: 0.8em;
            }
            .tags {
                font-size: 0.8em;
            }
    
            .iconsHeader {
                .leftIcon {
                    svg {
                        width: 24px;
                    }
                }
                .rightIcon {
                    svg {
                        width: 22px;
                    }
                }
            }
        }
        @media (max-width: 400px) {
            .container {
                height: 15em;
                h3 {
                    font-size: 1em;
                }
                p {
                    font-size: 0.8em;
                }
                .tags {
                    font-size: 0.8em;
                }
        
                .iconsHeader {
                    .leftIcon {
                        svg {
                            width: 25px;
                        }
                    }
                    .rightIcon {
                        svg {
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}
