.btn {
    border-radius: 0.7em;
    background-color: var(--primary);
    border: none;
    color: var(--secondary-lighter);
    margin-top: 0.5em;
    padding: 0.2em 0.35em;
    transition: all 0.8s ease;
    letter-spacing: -2px;
    box-shadow: 0 1px 1px 0 var(--primary-lighter);
    // outline-offset: 4px;
    // outline-color: yellow;

    &:hover {
        cursor: pointer;
        background-color: var(--secondary);
        color: var(--secondary-darker);
    }
}

.small {
    font-size: 2vw;
}

.large {
    font-size: calc((4vw + 5vh) / 2);
}

.leftAlign {
    margin-left: 0;
}