.btn {
    border-radius: 0.5em;
    background-color: white;
    border: var(--secondary) solid 2px;
    color: var(--quaternary);
    margin-top: 0.5em;
    padding: 0.2em;
    transition: background-color 0.8s ease;

    &:hover {
        cursor: pointer;
        background-color: var(--tertiary);
    }
}

.small {
    font-size: 2vw;
}

.large {
    font-size: calc((4vw + 5vh) / 2);
}

.leftAlign {
    margin-left: 0;
}
