pre {
    overflow: auto;
    border-radius: 5px;
    padding: 20px;
    margin-top: 1em;
    margin-bottom: 4em;
}

.codeHeadingsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.language {
    background-color: white;
    color: black;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn {
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: white;
}

.btnWrapper {
    position: relative;

}

.copied {
    margin-top: 1em;
    position: absolute;
}

@media (max-width: 800px) {
    pre {
        font-size: 0.8em;
    }

    @media (max-width: 600px) {
        pre {
            font-size: 0.7em;
        }
    }
}