.footer {
    display: flex;
    justify-content: center;
    padding: 1.5em 0;
    height: 5em;
    align-items: flex-end;
}

.footer p {
    color: var(--secondary);
    font-weight: 400;
}

.footer a {
    text-decoration: none;
    color: var(--tertiary);
}

.footer a:hover {
    text-decoration: underline;
}