@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Inter:300,200,500,400,600');
@import url('https://fonts.googleapis.com/css?family=Calibri:300,100,200,400,500,600');

/* CSS Reset */
:root {

    --primary: #FFFFFF;
    --secondary: #000000;
    --tertiary: #FF5D6C;

    --content-font: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --heading-font: 'Inter', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --mono-font: 'Roboto Mono';
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    max-width: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    background-color: var(--darker-primary);
    font-family: var(--content-font);
    color: var(--secondary);
    font-weight: 200;
    display: flex;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}


/* layout */

.layout {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}

.mainContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}