@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Inter:300,200,500,400,600');
@import url('https://fonts.googleapis.com/css?family=Calibri:300,100,200,400,500,600');

/* CSS Reset */
:root {

    --primary: #E0D0B8;
    --other-secondary: #b375ac;
    --secondary: #FF5D6C;
    --tertiary: #FBCE3A;
    --quaternary: #000000;
    --reddish: #284A27;
    --mono-font: 'Roboto Mono';
    --content-font: 'Calibri', 'Inter';
    --other: #0f0106;

    --sandy: #8E9461;
    /* --darker-pimary: #F4DECB; */
    --darker-primary: #FFFFFF;
    --primary-complement: #C2EAC1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    max-width: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    background-color: var(--darker-primary);
    font-family: var(--content-font);
    color: var(--secondary);
    font-weight: 200;
    display: flex;
    justify-content: center;
}


/* layout */

.layout {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}

.mainContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}