.container {
    height: calc(100vh - 144px);
    padding-top: 0;
    width: 70vw;

    p:first-of-type {
        color: var(--secondary);
        font-size: 1.40em;
    }

    .heroTitle {
        font-size: 8em;
        font-weight: 600;
        color: var(--secondary);
        letter-spacing: -0.07em;
        line-height: 1.1em;
        
    }

    .subtitle {
        font-size: 8em;
        line-height: 0.9em;
        letter-spacing: -0.07em;
        color: var(--tertiary);
    }

    .mainText {
        color: var(--secondary);
        font-size: 1.8em;
        font-weight: 500;
        line-height: 1.3em;
        margin-top: 1em;
        opacity: 0.8;
    }

}


@media(max-width: 1200px) {
    .container {
        .heroTitle {
            font-size: 5em;
        }

        .subtitle {
            font-size: 5em;
        }

        p:first-of-type {
            font-size: 1.1em;
        }

        .mainText {
            font-size: 1.3em;
        }
    }

    @media(max-width: 500px) {
        .container {
            .heroTitle {
                font-size: 4em;
            }
    
            .subtitle {
                font-size: 4em;
            }
    
            p:first-of-type {
                font-size: 0.9em;
            }
    
            .mainText {
                font-size: 1em;
            }
        }
        @media (max-width: 400px){
            .container {
                .heroTitle {
                    font-size: 3em;
                }
        
                .subtitle {
                    font-size: 3em;
                }
        
                p:first-of-type {
                    font-size: 0.9em;
                }
        
                .mainText {
                    font-size: 1em;
                }
            }
        }
    }

}



