.content {
    height: calc(100vh - 112px);
}

.content p:first-of-type {
    color: var(--secondary);
    padding-left: 10px;
    font-size: 1.15em;
    /* opacity: 0.8; */
}

.heroTitle {
    font-size: 6em;
    font-weight: 600;
    color: var(--quaternary);
    letter-spacing: -0.07em;
    line-height: 1.1em;
}

.subtitle {
    font-size: 6em;
    line-height: 0.8em;
    letter-spacing: -0.07em;
}

.mainText {
    margin-top: 1.3em;
    font-size: 1.4em;
    opacity: 0.9;
    padding-left: 10px;
    line-height: 1.3em;
    color: var(--quaternary);
    font-weight: 500;
}

.btn {
    /* border: var(--tertiary) solid 2px; */
    border-radius: 20px;
    background-color: white;
    border: var(--secondary) solid 2px;
    color: var(--quaternary);
    font-size: 1.5em;
    margin-left: 10px;
    margin-top: 30px;
    /* opacity: 0.9; */
    padding: 10px;
    transition: background-color 0.8s ease;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--secondary);
}