.content {
    height: calc(100vh - 112px);

    p:first-of-type {
        color: var(--secondary);
        padding-left: 10px;
        font-size: 1.15em;
        /* opacity: 0.5; */
    }

    .heroTitle {
        font-size: 6em;
        font-weight: 600;
        color: var(--secondary);
        letter-spacing: -0.07em;
        line-height: 1.1em;
    }

    .subtitle {
        font-size: 6em;
        line-height: 0.9em;
        letter-spacing: -0.07em;
        color: var(--tertiary);
        /* opacity: 1; */
    }

    .mainText {
        margin-top: 1em;
        font-size: 1.4em;
        opacity: 0.8;
        padding-left: 10px;
        line-height: 1.3em;
        color: var(--secondary);
        font-weight: 500;
    }

    .btn {
        /* border: var(--tertiary) solid 2px; */
        border-radius: 20px;
        background-color: white;
        border: var(--secondary) solid 2px;
        color: var(--quaternary);
        font-size: 1.5em;
        margin-left: 10px;
        margin-top: 20px;
        padding: 10px;
        transition: background-color 0.8s ease;

        :hover {
            cursor: pointer;
            background-color: var(--tertiary);
        }
    }

}