.contentWrapper {
    height: auto;
    margin-top: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
}

@media (max-width: 800px) {
    .contentWrapper {
        margin-right: 0;
    }
}