.media {
    width: 50%;
    border-radius: 0.3em;
    filter: brightness(20%);
    transition: transform 1s ease, filter 1s ease;
    mix-blend-mode: screen;
    z-index: 2;
    flex-grow: 0;

    &.mediaLeft {
        transform-origin: left;
    }

    &.mediaRight {
        transform-origin: right;
    }

    &:hover {
        filter: none;
        transform: scale(1.5);
    }

    &:hover+div {
        opacity: 0
    }
}

div {
    transition: all 0.3s ease;
}