.navContainer {
    align-items: center;
    display: flex;
    font-family: var(--heading-font);
    justify-content: space-between;
    padding: 0em 2em;
    width: 100vw;

    .link {
        margin-left: 0;
    }

    .links {
        a {
            color: var(--secondary-light);
            font-size: 1.3em;
            font-weight: 400;
            margin-left: 0;
            text-decoration: none;
            transition: all 0.3s;
            padding: 0 0.5em;
            border: transparent solid 2px;
            border-radius: 20px;

            &:hover {
                color: var(--secondary-lighter);
                border: var(--secondary-lighter) solid 2px;

            }
        }

    }


    .hamburger {
        display: none;
    }


}

.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    animation-name: colorTransition;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes colorTransition {
    from {
        background-color: rgba(255, 255, 255, 0);
    }

    to {
        background-color: rgba(255, 255, 255, 1);
    }
}

@media (max-width: 1000px) {
    .navContainer a {
        font-size: 1.1em;
    }
}

@media (max-width: 870px) {
    .navContainer {
        .links {
            position: fixed;
            top: 0;
            left: -100%;
        }

        .hamburger {
            display: block;
            cursor: pointer;
            background-color: var(--secondary-light);
            border: none;

            .bar {
                display: block;
                width: 30px;
                height: 3px;
                margin: 5px auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: var(--primary-darker);
            }


            &.active {
                .bar:nth-child(2) {
                    opacity: 0;
                }

                .bar {
                    &:nth-child(1) {
                        transform: translateY(8px) rotate(45deg);
                    }
                }

                .bar {
                    &:nth-child(3) {
                        transform: translateY(-8px) rotate(-45deg);
                    }
                }
            }


        }


    }


    .links {
        transition: all 0.3s ease;
        background-color: var(--primary-darker);
        flex-direction: column;
        z-index: 999;
        margin-top: 150px;
        padding-top: 3em;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        gap: 3em;
        opacity: 0.2;

        &.active {
            left: 0;
            top: 0;
            opacity: 0.9;
        }
    }

}