.navContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2em 3em;
    width: 95vw;
    font-family: var(--heading-font);
}


.navContainer a {
    margin-left: 20px;
    font-weight: 400;
    /* padding-bottom: 8px; */
    border-bottom: 3px solid transparent;
    text-decoration: underline 0.3em var(--primary);
    text-underline-offset: 1em;
    color: var(--secondary);
    font-size: 1em;
    transition: color 0.3s;
    transition: text-decoration-color 0.8s;
}

.navContainer a:hover {
    color: var(--tertiary);
    text-decoration-color: var(--tertiary);

}