.sidebarContainer {
    display: flex;
    height: calc(100vh - 112px);
    width: 10vw;
    flex-direction: column;
    position: fixed;
}

.sidebarContainer::before {
    flex-grow: 3;
    content: '';
}

.sidebarLeft {
    left: 0;

}

.sidebarRight {
    right: 0;

}

.sidebarRight a {
    text-orientation: sideways;
    writing-mode: vertical-rl;
    transition: transform 0.3s ease;
    font-family: var(--mono-font);
    font-weight: 100;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    color: var(--secondary);
    text-decoration: none;
}

.sidebarRight a:hover {
    transform: translateY(-5px);
    color: var(--tertiary);
    cursor: pointer;
}

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.iconLinkWrapper {
    padding: 0.6rem 0;
    margin: 0 auto;
}

.iconLinkWrapper svg {
    stroke: var(--secondary);
    stroke-width: 1.8px;
    transition: transform 0.3s ease;
    width: 20px;
}

.iconLinkWrapper svg:hover {
    transform: translateY(-5px);
    stroke: var(--tertiary);
    stroke-width: 2px;
}