.sidebarContainer {
    display: flex;
    height: calc(100vh - 144px);
    width: 10vw;
    flex-direction: column;
    position: fixed;




    .wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

}

.sidebarRight {
    right: 0;
    &::before {
        flex-grow: 20;
        content: '';
    }

    a {
        color: var(--secondary);
        font-family: var(--mono-font);
        font-size: 1em;
        font-weight: 100;
        letter-spacing: 0.1em;
        text-decoration: none;
        text-orientation: sideways;
        transition: transform 0.3s ease;
        writing-mode: vertical-rl;

        &:hover {
            transform: translateY(-5px);
            color: var(--tertiary);
            cursor: pointer;
        }


    }

    &:after {
        flex-grow: 10;
        content: "";
        background-color: var(--secondary-light);
        width: 1px;
        margin: 0 auto;
    }

}

.sidebarLeft {
    left: 0;

    &::before {
        flex-grow: 23;
        content: '';
    }

    .wrapper {
        .iconLinkWrapper {
            padding: 0.6rem 0;
            margin: 0 auto;

            svg {
                stroke: var(--secondary);
                stroke-width: 1.8px;
                transition: transform 0.3s ease;
                width: 20px;

                &:hover {
                    transform: translateY(-5px);
                    stroke: var(--tertiary);
                    stroke-width: 2px;
                }
            }
        }
    }
    &:after {
        flex-grow: 10;
        content: "";
        background-color: var(--secondary-light);
        width: 1px;
        margin: 0 auto;
    }
}


@media (max-width: 500px) {
    .sidebarContainer {
        display: none;
    }

    .sidebarLeft,
    .sidebarRight {
        display: none;
    }
}