.container {
    display: flex;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 100%;

    .details {
        max-width: 600px;
        padding-top: 2em;
        color: var(--secondary);

        a {
            text-decoration: none;
            color: var(--secondary);
        }

        h2 {
            color: var(--quaternary);
            font-size: 3.5em;
            letter-spacing: -2px;
            line-height: 1em;
        }

        h3 {
            margin-top: 0.5em;
            padding-bottom: 0.3em;
            color: var(--quaternary);
            letter-spacing: -1px;
            font-size: 1.8em;
        }

        p {
            padding-bottom: 0.5em;

            &:last-of-type {
                height: 200px;
            }

        }

        ol,
        ul {
            padding-bottom: 0.8em;
            padding-left: 1em;
        }


        h4 {
            margin-top: 0.8em;
        }
    }

    .tableContainer {
        border: black solid 1px;
        width: 10em;
        margin-top: 10em;

        .tableOfContents {
            li {
                list-style: none;

                a {
                    color: #36313d;
                    text-decoration-color: var(--tertiary);
                    padding-bottom: 0.3em;
                    font-size: 0.8em;
                    text-decoration: none;
                    opacity: 0.7;
                    font-weight: 300;
                }
            }
        }

        h3 {
            font-size: 0.8em;
            letter-spacing: 0;
            opacity: 0.8;
            padding-bottom: 1em;
        }
    }



}