.container {
    max-width: 800px;
    width: 80vw;
    height: 100%;
    margin: 0 auto;

    h2 {
        color: var(--secondary);
        font-size: 3em;
        letter-spacing: -2px;
        line-height: 1em;
    }

    .mainContent {
        display: flex;
        padding-top: 2em;
        color: var(--secondary);


        .details {
            padding-right: 3em;
            width: 75%;

            a {
                text-decoration: underline;
                color: var(--secondary);
                &:hover {
                    color: var(--tertiary);
                }    
            }


            h3 {
                margin-top: 0.5em;
                padding-bottom: 0.3em;
                color: var(--secondary-light);
                letter-spacing: -1px;
                font-size: 1.8em;
            }

            p {
                padding-bottom: 0.5em;
                font-size: 1.1em;
                font-weight: 300;

                &:last-of-type {
                    height: 200px;
                }

            }

            ol,
            ul {
                color: var(--secondary-light);
                padding-bottom: 0.8em;
                padding-left: 1em;
                font-size: 1.1em;
                font-weight: 300;
            }


            h4 {
                margin-top: 0.8em;
                color: var(--secondary-light);
            }

        }

        .sidebar {
            width: 25%;
            margin-top: 1em;
            position: sticky;
            top: 0;
            height: 300px;


            .tableOfContents {
                line-height: 2em;

                li {
                    list-style: none;

                    a {
                        color: var(--tertiary);
                        text-decoration-color: var(--tertiary);
                        line-height: 2.2em;
                        font-size: 1.1em;
                        text-decoration: none;
                        opacity: 0.8;
                        font-weight: 300;

                        &:hover {
                            text-decoration: underline;
                            color: var(--secondary);
                        }
                    }
                }
            }

            h3 {
                font-size: 1.1em;
                letter-spacing: 0;
                opacity: 0.8;
                padding-bottom: 1em;


            }

        }

    }


}

@media (max-width: 1000px){
    .container {
        padding-top: 2em;
        h2 {
            font-size: 2.5em;
        }

        .mainContent {
            .details{
                h3{
                    font-size: 1.5em;
                }
                p {
                    font-size: 0.9em;
                }
                ul, ol {
                    font-size: 0.95em;
                }
            }
            .sidebar {
                h3{
                    font-size: 0.8em;
                }

                .tableOfContents {
                    font-size: 0.8em;
                }
            }
            
        }
    }

    @media (max-width: 800px){
        .container {

            h2 {
                font-size: 2.2em;
            }
    
            .mainContent {
                .details{
                    h3{
                        font-size: 1.5em;
                    }
                    p {
                        font-size: 0.8em;
                    }
                    ul, ol {
                        font-size: 0.8em;
                    }
                }
                .sidebar {
                    h3{
                        font-size: 0.7em;
                    }
    
                    .tableOfContents {
                        font-size: 0.7em;
                    }
                }
                
            }
        }
        @media (max-width: 600px){
            .container {
    
                h2 {
                    font-size: 2em;
                }
        
                .mainContent {
                    .details{
                        h3{
                            font-size: 1.3em;
                        }
                        p {
                            font-size: 0.7em;
                        }
                        ul, ol {
                            font-size: 0.7em;
                        }
                    }
                    .sidebar {
                        h3{
                            font-size: 0.6em;
                        }
        
                        .tableOfContents {
                            font-size: 0.6em;
                        }
                    }
                    
                }
            }
            @media (max-width: 500px){
                .container {
        
                    h2 {
                        font-size: 2em;
                    }
            
                    .mainContent {
                        .details {
                            padding-right: 1em;
                            width: 100%;
                        }

                        .sidebar {
                            display: none;
                            width: 0vw;
                        }
                        
                    }
                }
                @media (max-width: 300px) {
                    .container {
                        h2 {
                            font-size: 1.8em;
                        }
                    }
                }
            }
        }
    }
}